/**************************LOGIN Y REGISTER***************************/

#login-form{
    margin-top: 100px;
}
#register-form{
    margin-top: 100px;
    margin-bottom: 50px;
}
#img-login{
    border-radius: 10px;
}

/********************************NAVBAR*********************************/
textarea{
    resize:none;
}

footer{
  display: none;
}

#navbar {
    overflow: hidden;
    font-family: Helvetica;
    margin-bottom: 20px;
}
  
#navbar a {
    float: left;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    color: #71c55d;
}

#navbar .icon {
    display: none;
  }
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
  padding: 15px;
  border: none;
  background-color: inherit;
  color: #71c55d;
  font-family: inherit;
  font-size: 16px;
}
  
.dropdown-content {
    display: none;
    position: fixed;
    /*background-color: rgb(204, 204, 204);*/
    border: 1px solid rgb(78, 78, 78);
    background-color: white;
    min-width: 140px;
    z-index: 1;
}
  
.dropdown-content a:hover {
    background-color: #969696;
}
  
.dropdown:hover .dropdown-content {
    display: grid;
}

#vnavbar {
    display: none;
    float: right;
}

#vnavbar a{
    display: block;
}

#burger-menu{
    display: none;
    position: absolute;
    top:5px;
    right: 5px;
}

#burger-menu i{
    color: #71c55d;
}

#horario{
    border: 1px solid black;
}

#horario td,th{
    border: 1px solid black;
    width: 100px;
    text-align: center;
}

.ocupado{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
}

.button-submit{
    display: block;
    text-align: center;
    margin-top: 10px;
}


/****************************SOBRE BOOTSTRAP****************************/

.hero-container{
  position: relative !important;
}

/*.col {
    border: 1px solid black;
}*/

/*****************************MEDIA QUERIES******************************/
/*
@media screen and (max-width: 1200px) {
    #navbar div:not(:first-child) {display: none;}
    #navbar a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 1200px) {
    #navbar.responsive {position: relative;}
    #navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    #navbar.responsive div {
      float: none;
      display: block;
      text-align: left;
    }
}

@media screen and (max-width: 1200px) {
    .dropdown:hover .dropdown-content {
        display: inline-block;
    }
}*/

@media screen and (max-width: 1200px) {
    #navbar{
        display: none;
    }

    #vnavbar.responsive{
        display: block;
        position: absolute;
        top: 30px;
        right: 0px;
        border-top: 1px solid #71c55d;  
        border-left: 1px solid #71c55d;
        border-bottom: 1px solid #71c55d;
        background-color: white;
    }

    #vnavbar.responsive a{
        color: #71c55d;
    }

    #burger-menu{
        display: block;
    }
}
